<div class="container">
  <h2>For existing users: </h2><br>
  <form action="/users/login" method="post">
  	<input type="text" name="user[username]" placeholder="Username">
  	<input type="password" name="user[password]" placeholder="Password">
  	<input type="Submit" value="Login">
  </form><br>

  <h2>Create Account</h2><br>
  <form action="/users/sign_up" method="post">
  	<input type="text" name="user[username]" placeholder="Username">
  	<input type="password" name="user[password]" placeholder="Password">
  	<input type="Submit" value="Create">
  </form>

</div>
